<!DOCTYPE html>
<html>
   <head>
      <title>Trash Pickup Lines</title>
      <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
      <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      <!-- Custom styles for this template -->
      <link href="static/css/landing-page.css" rel="stylesheet">
   </head>
   <body>
      <header class="masthead text-white text-center">
         <div class="overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-xl-9 mx-auto">
                  <h1 class="mb-5">Pickup Lines for Desperate People</h1>
               </div>
               <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                  <form action= "/results.html" method="POST">
                     <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                           <select name="Theme" class="form-control form-control-lg" placeholder="Enter your topic...">
                              <option value="Cute">Cute</option>
                              <option value="Cringey">Cringey</option>
                              <option value="Technology">Technology</option>
                              <option value="Random">Random</option>
                              <option value="Ethnicity">Ethnicity</option>
                           </select>
                        </div>
                        <div class="col-12 col-md-3">
                           <input type="submit" class="btn btn-block btn-lg btn-primary" value="Submit"/>
                        </div>
                        
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </header>
      <!-- Bootstrap core JavaScript -->
      <script src="static/vendor/jquery/jquery.min.js"></script>
      <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   </body>
</html>